.product_box{
    background:#6789BD;
    padding: 5px;
    border-radius: 5px;
    
}

.product_image{
 width: 100%;
 height: 200px;
 overflow: hidden;
}

.product_image > img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}

.product_name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.product_name >p{
    font-size: 20px;
    color: black;
}

.product_price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.product_price >p{
    font-size: 20px;
    color: #01457E;
}

.product_buttons{
   width: 100%;
   height: 35px;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
}

.product_fav , .product_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
}

.product_fav{
    background: #12223C;
    font-size: 15px;
}

.product_card{
    background: #1A226A;
    font-size: 15px;
    font-weight: 450;
}

.product_del{
    width: 100%;
    height: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #12223C;
}